@import url("https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Roboto:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  background: #1b1a1a;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

nav {
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0 8%;
}
nav h1 {
  font-family: "Playwrite GB S", cursive;
}
nav .container {
  display: flex;
  gap: 1rem;
}
nav .container .box {
  width: 10rem;
  height: 3.3rem;
  border-radius: 5px;
  background: #3a3939;
  font-size: 0.85rem;
  padding: 5px 10px;
  color: #afa3a3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  text-transform: capitalize;
  line-height: 20px;
}
nav .container .box span {
  color: #fff;
  font-weight: bold;
}
nav .container .box > img {
  width: 1.8rem;
  height: 1.8rem;
  -o-object-fit: contain;
     object-fit: contain;
}

main {
  width: 84%;
  min-height: 90vh;
  margin: 1rem auto;
  position: relative;
}
main .form {
  width: 100%;
  height: 85vh;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  text-align: center;
  position: relative;
}
main .form h2 {
  font-weight: normal;
  font-size: 1.2rem;
  color: #afa3a3;
}
main .form h2 span {
  display: flex;
  justify-content: center;
  padding: 1rem;
  font-weight: bold;
  font-size: 2rem;
  color: #fff;
}
main .form form {
  width: 45%;
  height: 3.5rem;
  background: #3a3939;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 5px;
  gap: 5px;
}
main .form form > input {
  background: #3a3939;
  border: none;
  outline: none;
  padding-left: 1rem;
  color: #fff;
  height: 100%;
  width: 80%;
  border-radius: 5px 0 0 5px;
}
main .form form > button {
  width: 20%;
  height: 3rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
main .form > img {
  width: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}
main .form p {
  font-size: 0.9rem;
}
main .form .blub {
  position: absolute;
  bottom: 50%;
  left: 50%;
  width: 35vw;
  height: 35vw;
  transform: translate(-50%, 50%);
  border-radius: 60%;
  z-index: -1;
  filter: blur(100px);
  opacity: 0.3;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  animation: upDown 10s infinite ease-in-out;
}
@keyframes upDown {
  0% {
    transform: translate(-50%, 50%) scale(1.1);
  }
  25% {
    transform: translate(-50%, 50%) scale(1.15);
  }
  50% {
    transform: translate(-50%, 50%) scale(1.2);
  }
  75% {
    transform: translate(-50%, 50%) scale(1.15);
  }
  100% {
    transform: translate(-50%, 50%) scale(1);
  }
}
main .features {
  width: 100%;
  min-height: -moz-fit-content;
  min-height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  overflow-x: hidden;
}
main .features > div {
  width: 25rem;
  height: 18rem;
  margin: 1rem 0;
  transition: 0.8s ease-in-out;
  transform: translateX(-500%);
  opacity: 0;
  background: #3a3939;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  padding: 0.2rem 1rem;
  text-align: center;
}
main .features > div p {
  color: #797777;
  font-size: 0.9rem;
}
main .features > div:hover {
  background: #474747;
}
main .features > div > img {
  width: 4rem;
  height: 4rem;
}

.fade-In {
  transform: translateX(0%) !important;
  opacity: 1 !important;
}

footer {
  padding: 10px 0;
  text-align: center;
  font-size: 0.8em;
  background: #474747;
  margin-top: 2rem;
  width: 84%;
  margin: 2rem auto 0 auto;
}
footer #cr {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

footer p {
  margin: 5px 0;
}

footer a {
  color: #a19f9f;
  text-decoration: none;
  margin: 0 5px;
}

footer a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1024px) {
  .form form {
    width: 80% !important;
  }
  .form > img {
    width: 70% !important;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media screen and (max-width: 768px) {
  nav h1 {
    font-family: "Playwrite GB S", cursive;
    font-size: 1.2rem;
  }
  nav .container {
    display: flex;
    gap: 1rem;
  }
  nav .container .box {
    width: 10rem;
    height: 3.3rem;
    border-radius: 5px;
    background: #3a3939;
    font-size: 0.9rem;
    padding: 5px 5px;
  }
}
@media screen and (max-width: 600px) {
  nav {
    flex-direction: column;
    height: -moz-fit-content;
    height: fit-content;
    padding: 1rem 0;
    border-bottom: 1px solid #797777;
  }
  nav h1 {
    font-family: "Playwrite GB S", cursive;
    font-size: 2rem;
  }
  nav .container {
    display: flex;
    gap: 1rem;
  }
  nav .container .box {
    width: 10rem;
    height: 3.1rem;
    text-align: center;
    font-size: 0.8rem;
    padding: 5px 5px;
  }
  .form {
    width: 100% !important;
    height: 80vh !important;
  }
  .form h2 {
    font-size: 1rem !important;
  }
  .form h2 span {
    font-size: 2.5rem !important;
  }
  .form form {
    width: 90% !important;
  }
  .form > img {
    width: 100% !important;
  }
  .form p {
    font-size: 0.9rem;
  }
  .form .blub {
    width: 55vw !important;
    height: 55vw !important;
    filter: blur(60px) !important;
  }
}
@media screen and (max-width: 425px) {
  main {
    width: 98% !important;
  }
  .form {
    width: 100% !important;
    height: 80vh !important;
    margin: 1rem 0 !important;
  }
  .form h2 {
    font-size: 0.8rem !important;
    padding: 0 2rem;
  }
  .form h2 span {
    font-size: 2rem !important;
  }
  .form form {
    width: 90% !important;
  }
  .form > img {
    width: 100% !important;
  }
  .form p {
    font-size: 0.9rem;
  }
  .form .blub {
    bottom: 60% !important;
  }
}
@media screen and (max-width: 360px) {
  nav {
    flex-direction: column;
    height: -moz-fit-content;
    height: fit-content;
    padding: 1.5rem 0;
  }
  nav h1 {
    font-family: "Playwrite GB S", cursive;
    font-size: 1.8rem;
  }
  nav .container {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
  nav .container .box {
    width: 45%;
    height: 3.5rem !important;
    text-align: center;
    border-radius: 5px;
    background: #3a3939;
    font-size: 0.8rem;
    padding: 5px 5px;
  }
}
@media screen and (max-width: 360px) {
  .form {
    width: 100% !important;
    height: 80vh !important;
    margin: 1rem 0 !important;
  }
  .form h2 {
    font-size: 0.8rem !important;
    padding: 0 1rem !important;
  }
  .form h2 span {
    font-size: 1.7rem !important;
    padding: 1rem 0 !important;
  }
  .form form {
    width: 95% !important;
    height: 3rem !important;
  }
  .form form > input {
    width: 70% !important;
  }
  .form form > button {
    width: 30% !important;
  }
  .form > img {
    width: 95% !important;
  }
  .form p {
    font-size: 0.9rem;
  }
  .form .blub {
    bottom: 60% !important;
  }
  footer {
    padding: 10px 0;
    text-align: center;
    font-size: 0.8em;
    background: #474747;
    margin-top: 2rem;
    width: 100% !important;
    margin: 2rem auto 0 auto;
  }
  footer #cr {
    font-size: 1rem !important;
    margin-bottom: 1rem;
  }
}/*# sourceMappingURL=style.css.map */