$mainBgColor : #141414;
$secBgColor : #1E1E1E;
$btnColor : #5E1E7B;

$fontColor:#fff;
$fontSecColor :#7E7E7E;

@mixin flex($jc:center , $ai:center , $g:1rem)
{
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    gap: $g;
}